@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: cornsilk;
  background-image: url("/src/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

p {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}
