@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: cornsilk;
  background-image: url("/src/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
